body {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #1F2632FF;
}

@media screen and (max-width:670px){
  #root {
    width: 100vw;
  }

}
